*Đọc 3 file dữ liệu và khảo sát lỗi*

In [1]:
import pandas as pd

info = pd.read_csv("stock_info.csv")
price = pd.read_csv("stock_price.csv")
trans = pd.read_csv("transactions.csv")

In [2]:
info["ticker"].unique()
info["exchange"].unique()
info["sector"].unique()
info.isna().sum()
info.dtypes

ticker      object
exchange    object
sector      object
dtype: object

 Chuẩn hóa mã cổ phiếu sang dạng viết hoa

In [3]:
info["ticker"] = info["ticker"].str.strip().str.upper()
price["ticker"] = price["ticker"].str.strip().str.upper()
trans["ticker"] = trans["ticker"].str.strip().str.upper()

In [4]:
print(info["ticker"].unique())
print(price["ticker"].unique())
print(trans["ticker"].unique())

['VIC' 'VHM' 'VNM' 'HPG' 'FPT' 'MWG' 'VCB' 'MBB' 'BID' 'SSI']
['VIC' 'VHM' 'VNM' 'HPG' 'FPT' 'MWG' 'VCB' 'MBB' 'BID' 'SSI']
['VIC' 'VHM' 'VNM' 'HPG' 'FPT' 'MWG' 'VCB' 'MBB' 'BID' 'SSI']

Xử lý ngày tháng sai định dạng

In [5]:
price["date"] = price["date"].astype(str)

In [6]:
price["date"] = price["date"].str.strip()

In [13]:
price["date"] = pd.to_datetime(price["date"], errors="coerce", dayfirst=True)

In [14]:
price[price["date"].isna()].head(20)

   ticker date close_price
3     VIC  NaT         55k
9     VIC  NaT         55k
10    VIC  NaT      60000
12    VIC  NaT       48000
13    VIC  NaT       52000
14    VIC  NaT      60000
15    VIC  NaT       52000
16    VIC  NaT         55k
17    VIC  NaT      60000
18    VIC  NaT      60000
19    VIC  NaT       50000
20    VIC  NaT       48000
21    VIC  NaT       52000
22    VIC  NaT      60000
23    VIC  NaT       50000
24    VIC  NaT      60000
25    VIC  NaT       52000
26    VIC  NaT         55k
27    VIC  NaT       50000
28    VIC  NaT         55k

In [15]:
price = price.dropna(subset=["date"])

In [16]:
price["date"].head()

0   2024-01-01
1   2024-01-02
2   2024-01-03
4   2024-01-05
5   2024-01-06
Name: date, dtype: datetime64[ns]

Làm sạch close_price và volume

In [ ]:
import pandas as pd
df = pd.read_csv("stock_price.csv")

In [34]:
df['close_price'] = pd.to_numeric(
    df['close_price'].astype(str).str.replace(r'[^\d.]', '', regex=True),
    errors='coerce'
)

if 'volume' in df.columns:
    df['volume'] = pd.to_numeric(
        df['volume'].astype(str).str.replace(r'[^\d]', '', regex=True),
        errors='coerce'
    ).fillna(0).astype(int)

Chuẩn hóa thông tin sàn và ngành

In [40]:
import pandas as pd

# Giả sử df đã có cột 'exchange' và 'sector'

# 1. Loại bỏ khoảng trắng
df['exchange'] = df['exchange'].str.strip()
df['sector'] = df['sector'].str.strip()

# 2. Chuẩn hóa chữ hoa/chữ thường
df['exchange'] = df['exchange'].str.upper()   # HOSE, HNX, UPCOM
df['sector'] = df['sector'].str.title()       # Viết hoa chữ đầu

# 3. Thống nhất các giá trị phổ biến (nếu có lỗi chính tả)
df['sector'] = df['sector'].replace({
    'Ngan Hang': 'Ngân Hàng',
    'Dien Tu': 'Điện Tử'
})

# 4. Kiểm tra kết quả
print(df[['exchange', 'sector']])

  exchange     sector
0     HOSE  Ngân Hàng
1     HOSE  Ngân Hàng
2      HNX    Điện Tử
3    UPCOM    Điện Tử

Xuất các file sạch để dùng cho các nhiệm vụ sau

In [60]:
import pandas as pd
import os

output_folder = "../data_sạch/"
os.makedirs(output_folder, exist_ok=True)

In [61]:
df_info = pd.read_csv("stock_info.csv")
df_price = pd.read_csv("stock_price.csv")
df_trans = pd.read_csv("transactions.csv")

In [63]:
if 'exchange' in df_info.columns:
    df_info['exchange'] = df_info['exchange'].str.strip().str.upper()
if 'sector' in df_info.columns:
    df_info['sector'] = df_info['sector'].str.strip().str.title()

if 'close_price' in df_price.columns:
    df_price['close_price'] = pd.to_numeric(
        df_price['close_price'].astype(str).str.replace(r'[^\d.]', '', regex=True),
        errors='coerce'
    )

In [65]:

if 'volume' in df_trans.columns:
    df_trans['volume'] = pd.to_numeric(
        df_trans['volume'].astype(str).str.replace(r'[^\d]', '', regex=True),
        errors='coerce'
    ).fillna(0).astype(int)

In [66]:


df_info.to_csv(os.path.join(output_folder, "stock_info_clean.csv"), index=False)
df_price.to_csv(os.path.join(output_folder, "stock_price_clean.csv"), index=False)
df_trans.to_csv(os.path.join(output_folder, "transactions_clean.csv"), index=False)

print("Đã xuất các file sạch vào folder data_sạch!")

Đã xuất các file sạch vào folder data_sạch!